.controls > .radio:first-child, .controls > .checkbox:first-child {
padding-top: 0px;
}
.modal {
width: 800px;
top: 0;
margin: 70px 0 0 -400px;
}
.modal.fade.in {
top: 0;
}
.box-icon a {
    width: auto;
}
/*my css*/
.evaModal {
    width: 1000px;
    top: 0;
    margin: 70px 0 0 -500px;
    /* height: 100 */
}

.mybox{
	width: 800px;
	/* height: 100 */
}

.mybox .title{
	width: 130px
}

.mybox .boxContent{
	text-align:center;
	vertical-align:middle;
}
.index {
    width : 1280px;
    margin: 0 auto;
}
.MainHead .title{
    width : 270px;
}
.myInvisible{
    display: none;
}
.load-img {
    z-index: -1;
    left:50%;
    top:50%;
    position:fixed;
}
.myWitch970 {
    width: 970px;
}