.mybox{
	width: 800px;
}	

.mybox .title{
	width: 130px
}

.mybox .boxContent{
	text-align:center;
	vertical-align:middle;
}
.index {
    width : 1000px;
    margin: 0 auto;
}
.MainHead .title{
    width : 270px;
}
