.controls > .radio:first-child, .controls > .checkbox:first-child {
padding-top: 0px;
}
.modal {
width: 800px;
top: 0;
margin: 70px 0 0 -400px;
}
.modal.fade.in {
top: 0;
}

/*my css*/
.mybox{
	width: 800px;
	/* height: 100 */
}	

.mybox .title{
	width: 130px
}

.mybox .boxContent{
	text-align:center;
	vertical-align:middle;
}
.index {
    width : 1000px;
    margin: 0 auto;
}
.MainHead .title{
    width : 270px;
}
